@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000212; /* Deep Space Black */
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  /* The Cyber Grid Pattern */
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.03) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 30px 30px;
  min-height: 100vh;
}

/* Custom Scrollbar for Table */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
